#controls {
    display: flex;
    justify-content: center;
}

#info {
    width: 300px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

#info > * {
    border: 1px solid #000;
    padding: 5px;
}

#controls input {
    width: 50px;
}

table {
    display: table;
    margin: auto;
    border: 2px solid #555;
    padding: 1px;
}

td {
    background: #ddd;
    height: 30px;
    width: 24px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-family: "Arial", serif;
}

td.hidden {
    border-top: 2px solid #999;
    border-left: 2px solid #999;
    border-bottom: 4px solid #333;
    border-right: 4px solid #333;
}

td.hidden.flagged {
    background-image: url("/assets/flag.png");
    background-size: contain;
}

td:not(.hidden).mine {
    background-image: url("/assets/mine.png");
    background-color: red;
    background-size: 100%;
}

td:hover {
    background-color: #666;
    cursor: pointer;
}